# Copyright (C) 2023-2025 Cognizant Digital Business, Evolutionary AI.
# All Rights Reserved.
# Issued under the Academic Public License.
#
# You can be released from the terms, and requirements of the Academic Public
# License by purchasing a commercial license.
# Purchase of a commercial license is mandatory for any use of the
# neuro-san SDK Software in commercial settings.
#
# END COPYRIGHT
{
    # Currently we list each hocon file we want to serve as a key with a boolean value.
    # Eventually we might have a dictionary value with server specifications for each.

    # Use cases
    "airline_policy.hocon": true,
    "banking_ops.hocon": true,

    # Experimental and research - Agent Network Tools
    "agent_network_architect.hocon": false,
    "agent_network_designer.hocon": true,
    "agent_network_editor.hocon": true,
    "agent_network_html_creator.hocon": true,
    "agent_network_instructions_editor.hocon": true,
    "agent_network_query_generator.hocon": true,

    # Applications
    # Set the following agent network to true before running apps/log_analyzer/log_analyzer.py
    "log_analysis_agents.hocon": false,
    "log_analysis_agents_NPS.hocon": true,
}